@import url('https://fonts.googleapis.com/css2?family=Beer+Money&display=swap');

body {
  background-color: #1e1e1e;
  color: #ffffff;
  font-family: 'Beer Money', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  background-color: #252526;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

nav ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

nav li {
  display: inline-block;
  margin: 10px;
}

nav a {
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

nav a:hover {
  color: #ff0000;
}

h1 {
  font-family: 'Beer Money', cursive;
  text-align: center;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-bottom: 20px;
  text-align: center;
}

img {
  max-width: 150px; /* Задайте фіксовану ширину для зображень */
  height: auto;
  display: block;
  margin: 0 auto;
}

.shake {
  animation: shake 0.5s infinite;
}

@keyframes shake {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(0);
  }
}

.anime-library {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  width: 800px;
}

.anime-item {
  width: 200px; /* Задайте фіксовану ширину для елементів */
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  text-align: center;
}
.anime-item img {
  width: 150px; /* Фіксована ширина */
  height: 200px; /* Фіксована висота */
}
