p {
    color: rgb(93, 93, 93);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
    background-image: url('background.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.test {
    width: 100vh;
    height: 200px;
    border-radius: 10px;
    background-color: blanchedalmond;
    padding-bottom:400px;
    opacity: 0.8;
    
}

.test1 {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    background-color: rgb(255, 188, 4);
    
}
